body{
    font-family: 'Raleway', sans-serif; 
    margin: 0;
}

#bloc_page{
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 100px;
    margin-top: 15px;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav ul{
    display: flex;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: end;
    font-size: 1em;
    font-weight: 400;
}

nav li{
    display: block;
    padding-top: 30px;
    width: 150px;
    text-align: center;
}

nav a{
    font-weight: 500;
    height: 100%;
}

nav a:hover{
    color: #0065FC;
}

nav p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 30px;
    margin-left: 15px;
}

nav p a{
    color: #0065FC;
}

nav li:hover{
    box-shadow: inset 0px 1px 0px 0px #0065FC;
}

nav li:nth-child(3) a{
    color: #0065FC;
    font-weight: 800;
}

nav li a:active{
    color: #0065FC;
}

nav li:active{
    box-shadow: inset 0px 1px 0px 0px #0065FC;
}

section{
    display: flex;
    flex-flow: column;
}
/* --------------------SECTION 1 ------------------*/

#research_title{
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;    
}

h1{
    font-weight: 800;
    margin: 0px;
}

#research_title p{
    margin: 5px 0px 15px;
}

#textbox{
    display: flex;
    align-items: center;
    height: 40px;
}

#mapmarker{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    height: 40px;
    width: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#textbox input[type=text]{
    height: 40px;
    border-right: none;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
}

input::placeholder{
    font-family: 'Raleway', sans-serif;  
    color: black;
    font-weight: 750;
    padding-left: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

input[type=text]:focus{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


#research_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0065fc;
    height: 40px;
    width: 120px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    right: 2px;
}

#search_icon{
    display: none;
}

#textbox a{
    color: white;
    font-size: 0.95em;
}


#filter{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
    width: 930px;
    margin-top: 20px;
}

#filter_buttons{
    display: flex;
    margin-left: 45px;
}

.filter_button{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.filter_button i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    color: #0065FC;
    position: absolute;
    margin-left: -20px;

}


.filter_button p{
    display: flex;
    align-items: center;
    justify-content:start;
    border-style: solid solid solid none;
    border-width: 2px;
    height: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-color: rgb(204, 204, 204);
    padding-right: 15px;
    padding-left: 30px;
    margin: 0px;

}

.filter_button:hover p{
    background-color: #0065FC;
    color: white;
}

#infos{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#infos i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #FFFFFF;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 0.8em;
}

#infos p{
    padding-left: 10px;
    font-size: 0.9em;
    
}

/* -----------------SECTION 2-------------------------------- */

#lodging{
    display:flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: auto;
}

.lodging_part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F2F2F2;
    height: 620px;
    width: 880px;
    border-radius: 20px;

}

.lodging_part h2{
    font-size: 1.3em;
    font-weight: 800;
    margin: 43px 0px 5px 50px;
}

span{
    font-weight: bold;
}

#hotels_list{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: auto;
    justify-content: center;
    
}

.hotels{
    background-color: white;
    box-shadow: 1px 1px 10px rgba(128,128,128,0.5);
    border-radius: 20px;
    margin: 15px;
    height: 200px;
    width: 245px;
    padding: 5px;
    box-sizing: border-box;
    
}

.hotels_image{
    height: 60%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotels:nth-child(1) .hotels_image{
    background-image: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
.hotels:nth-child(2) .hotels_image{
    background-image: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
.hotels:nth-child(3) .hotels_image{
    background-image: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
.hotels:nth-child(4) .hotels_image{
    background-image: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
.hotels:nth-child(5) .hotels_image{
    background-image: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
.hotels:nth-child(6) .hotels_image{
    background-image: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

.hotels_text{
    font-size: 0.8em;
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    height: 40%;
    width: auto;
    padding-left: 10px;
    padding-top: 10px;
}
.hotels_text h3{
    font-weight: 700;
    margin: 0px;
}
.hotels_text p{
    margin: 6px 0px 6px 0px; 
}
.stars{
    display: flex;
    flex-direction: row;
}
.blue_stars{
    color: #0065FC;
}
.grey_stars{
    color: #868686;
}

#afficher_plus{
    margin: 10px 0px 50px 55px;
    font-weight: 700;
}

#lodging aside{
    display: flex;
    flex-flow: column;
    height: 620px;
    width: 420px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#pop_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin-left: 35px;
}

#pop_title h2{
    font-size: 1.4em;
    font-weight: 800;
    margin-top: 42px;
    margin-left: 5px;
}

#pop_title i{
    font-size: 1.2em;
    margin-top: 35px;
}

#haside_list{
    width: auto;
    display: flex;
    flex-flow: column nowrap;
}

.hotels_aside{
    height: 144px;
    width: 344px;
    background-color: white;
    margin-bottom: 30px;
    margin-left: 35px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(128,128,128,0.3);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 0px 5px 5px;
}

aside a{
    color: black;
    display: flex;
    height: 100%;
    width: 100%;
}
.haside_image{
    width: 132px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotels_aside:nth-child(1) .haside_image{
    background-image: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}
.hotels_aside:nth-child(2) .haside_image{
    background-image: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}
.hotels_aside:nth-child(3) .haside_image{
    background-image: url('images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

.haside_text{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 0.85em;
    margin-left: 17px;
    margin-top: 10px;
    height: 110px;
    width: 140px;
}

.haside_text h3, .haside_text p{
    margin: 0px 0px 10px 0px;
}

.haside_text .stars{
    margin-left: 0px;
    margin-top: 25px;

}

/* --------- 3e SECTION -----------------------*/

#activities{
    height: 500px;
    display: flex;
    margin-bottom: 60px;  
}

#activities h2{
    margin-top: 40px;
}

#activities a{
    color: black;
    width: 100%;
}

#activities_photos{
    height: 445px;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-between;
    width: 100%;
}

.activities{
    box-shadow: 1px 1px 10px rgba(224, 224, 224, 0.5),1px 1px 10px rgb(224, 224, 224);
    border-radius: 10px;
    width: 300px;
    display: flex;
}

.activities_photo{
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.activities:nth-child(1), .activities:nth-child(4){
    height: 445px;  
}
.activities:nth-child(2){
    height: 235px;
}
.activities:nth-child(3){
    height: 165px;
}
.activities:nth-child(5){
    height: 195px;
}
.activities:nth-child(6){
    height: 210px;
}
.activities:nth-child(1) .activities_photo{
    height: 390px;
    background-image: url('images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    background-position: 50% 23%;
    background-size: auto;
}
.activities:nth-child(2) .activities_photo{
    height: 180px;
    background-image: url('images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    background-position: 50% 40%;
}
.activities:nth-child(3) .activities_photo{
    height: 110px;
    background-image: url('images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    background-position: 50% 19%;
}
.activities:nth-child(4) .activities_photo{
    height: 390px;
    background-image: url('images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    background-position: 49% 0%;
    filter: saturate(150%) brightness(107%) contrast(95%);
}
.activities:nth-child(5) .activities_photo{
    height: 140px;
    background-image: url('images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    background-position: 49% 0%;
}
.activities:nth-child(6) .activities_photo{
    height: 155px;
    background-image: url('images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    background-position: 49% 10%;
}

.activities_text{
    height: 55px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}


/* ------------- FOOTER ---------- */

footer{
    background-color: #F2F2F2;
    width: 100%;

}

#footer_block{
    display: flex;
    max-width: 1340px;
    width: auto;
    margin: auto;
    justify-content: flex-start;

}

footer h3{
    margin-block-start: 45px;

}

footer a{
    color: black;
}

footer ul{
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 30px;
    margin-right: 200px;
}

footer li{
    margin-block-end: 10px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}